*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* For all elements with scroll */
* {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #111827 #f0f0f0;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #f0f0f0;
}

*::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0f172a;
}